@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  font-family: Inter;
  font-family: "Inter", sans-serif;
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  .dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
  }

  .light {
    background-color: var(--clr-bg-light);
    color: var(--clr-text-light);
  }
}
