@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    font-family: Inter;
    font-family: "Inter", sans-serif;
  }
  .dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-dark);
  }
}
